* {
  font-family: 'Josefin Sans', sans-serif;
}

.nav-text {
  font-weight: 500 !important;
  color: black !important;
  border-bottom: 3px solid transparent !important;
}
.nav-text.active {
  border-bottom: 3px solid blueviolet !important;
}

.navbar-bg {
  background-color: white;
}

.login-bg {
  background-color: blueviolet;
}

.login-row {
  height: 80vh;
}

.login-title {
  border-bottom: 3px solid white;
}

.violet-bg {
  background-color: blueviolet !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.submit-button{
  background-color: yellow !important;
  border: 0 !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  letter-spacing: 2px;
}

.violet-button{
  background-color: blueviolet !important;
  border: 0 !important;
}

.yellow-button{
  background-color: yellow !important;
  border: 0 !important;
}

.red-button{
  background-color: orangered !important;
  border: 0 !important;
}

.card-title {
  border-bottom: 3px solid yellow;
}

.card-subtitle {
  font-weight: 800 !important;
}

.profile-img {
  border: 4px solid yellow;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



